.jumbotron {
	background-color: rgb(192,192,192);
	border-style: double;
	border-width: thick;
	border-radius: 50px;
	padding: 50px;
	margin: 50px;
}

.PERSONAL-CONTACT-INFORMATION {
	text-align: center;
	font-family: Georgia, serif;
}

.container {
	border-style: outset;
	border-width: medium;
	border-radius: 50px;
	padding: 20px;
	margin: 20px;
}

.PERSONAL-CONTACT-INFORMATION img {
	border-style: outset;
	border-width: 25px;
}

.RESUME {
	background-color: #191919;
	padding-top: 25px;
	padding-bottom: 25px;
}

.container h3 {
	font-family: "Arial Black", Gadget, sans-serif;
}